<%- include('partials/header.ejs') %>

    <body>
        <div class="container-principal">
        <div class="principal">
            <h1>Bem vindo ao OS System</h1>
            <hr>
                <h5>Este software é gratuito e faz parte de estudo do aluno de Análise e Desenvolvimento de Sistemas
                Leonardo Dias, apaixonado por tecnologias utilizou a própria necessidade da sua empresa para desenvolver
                um software leve, simples e direto ao ponto.</h5>
        </div>
        <hr>
        <div class="principal">
            <a href="/login"><button type="button" class="btn1">Entrar</button></a>
            <hr>
            <a href="/newusers"><button type="button" class="btn1">Novo Usuário</button></a>



        </div>
        
        
    </div>
    </body>
    
    <footer class="container-footer">
        <div class="foot">
            <p>Como me dar um feedback, clique nos icones abaixo
            <img src="/img/linkedin-logo.png" alt="linkedin" >
            <img src="/img/whatsapp-logo.png" alt="whatsapp" >
            <img src="/img/github-logo.jpg" alt="github" ></p>
        </div>
    </footer>

    <%- include('partials/footer.ejs') %>