<%- include('partials/header.ejs') %>

    <body>
        <section class="Form my-4 mx-5n">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-5">
                        <img src="/img/chip.jpg" class="img-fluid" alt="Logo OS System" id="img-logo">
                    </div>
                    <div class="col-lg-7 px-5 pt-5">
                        <h1>OS SYSTEM</h1>
                        <br>
                        <form>
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <input type="email" placeholder="Digite seu email aqui"
                                        class="form-control my-1 p-4">
                                </div>
                            </div>    
                            <div class="form-row" id="emailerror">
                                <div class="col-lg-7">
                                    <input type="hidden" placeholder="Digite em formato de email" class="form-control my-1 p-1" name="erroremail">
                                </div>
                            </div>    
                            
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <input type="password" placeholder="******" class="form-control my-3 p-4">
                                </div>
                            </div>
                            <div class="form-row" id="senhaerror">
                                <div class="col-lg-7">
                                    <input type="hidden" name="errorsenha" placeholder="Digite em formato de email" class="form-control my-1 p-1">
                                </div>
                            </div>
                            <div class="checkbox">
                            <input type="checkbox" name="showpassword">
                            Mostrar Senha
                            </div>
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <button type="button" class="btn1">Entrar</button>
                                </div>
                            </div>
                            <br>
                            <p>Esqueceu sua senha , <a href="#">Clique Aqui</a></p>
                            <p>Não possui conta, <a href="#newusers.ejs">Clique aqui</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </body>

    <%- include('partials/footer.ejs') %>